﻿html {
  min-height: 100%; }
  html body {
    min-height: 100%;
    background-color: #012f5a;
    padding-bottom: 100px;
    /*Reset Bootstrap*/
    /*End Reset Bootstrap*/ }
    html body .container {
      padding: 0; }
    html body .row {
      margin: 0; }
    html body .col,
    html body [class*="col-"] {
      padding-right: 0;
      padding-left: 0; }
    html body a {
      text-decoration: none !important; }
    html body h2 {
      font-size: 25px;
      font-family: Garamond;
      background-color: #fff;
      padding-left: 30px;
      color: #303030; }
    html body .social {
      height: 49px;
      width: 264px;
      background: url(../img/social.jpg) left top no-repeat; }
      html body .social a {
        width: 50px;
        height: 50px;
        margin-right: 4px; }
    html body .wrapper {
      width: 960px;
      -webkit-box-shadow: 75px 0px 100px 45px #2d82af, -75px 0px 100px 45px #2d82af, 0 50px 100px 100px #2d82af;
      -moz-box-shadow: 75px 0px 100px 45px #2d82af, -75px 0px 100px 45px #2d82af, 0 50px 100px 100px #2d82af;
      box-shadow: 75px 0px 100px 45px #2d82af, -75px 0px 100px 45px #2d82af, 0 50px 100px 100px #2d82af; }
      html body .wrapper header {
        -webkit-box-shadow: 0 -100px 115px 32px #fff;
        -moz-box-shadow: 0 -100px 115px 32px #fff;
        box-shadow: 0 -100px 115px 32px #fff;
        padding: 15px 0 0 0;
        background: linear-gradient(to right, #111111, #111111, #111213, #262627); }
        html body .wrapper header .row .input-wrapper {
          background-color: #fff;
          border: 1px solid #878888;
          border-radius: 10px;
          font-size: 10px;
          padding: 0 3px 0 0;
          margin-right: 22px; }
          html body .wrapper header .row .input-wrapper .icon {
            font-size: 12px;
            display: inline-block;
            background-color: #fff;
            color: #6f6f6f;
            text-align: center;
            height: 15px;
            padding-top: 2px; }
          html body .wrapper header .row .input-wrapper .fa-search {
            border: 1px solid #fff;
            border-style: solid none solid solid;
            border-radius: 8px 0 0 8px;
            padding-left: 2px; }
          html body .wrapper header .row .input-wrapper .fa-caret-down {
            margin: 1px 0 0 -2px;
            background-color: transparent; }
          html body .wrapper header .row .input-wrapper button:focus {
            outline: 1px solid transparent; }
          html body .wrapper header .row .input-wrapper .dropdown-menu {
            min-width: 100%;
            padding: 0; }
            html body .wrapper header .row .input-wrapper .dropdown-menu .dropdown-item {
              padding: 0;
              font: 10px Georgia;
              color: #a5a5a5; }
          html body .wrapper header .row .input-wrapper input {
            width: 100%;
            outline: none;
            font: 10px Georgia;
            color: #a5a5a5;
            padding-left: 10px;
            border: 1px solid #fff;
            border-radius: 8px; }
            html body .wrapper header .row .input-wrapper input::placeholder {
              color: #a5a5a5; }
        html body .wrapper header .row h1 {
          font-family: Garamond;
          padding-left: 34px;
          padding-bottom: 30px; }
        html body .wrapper header .row nav {
          font-size: 9px;
          padding-bottom: 30px;
          margin-right: 25px; }
          html body .wrapper header .row nav a {
            color: #fff;
            margin: 0 0 0 10px;
            font-weight: bold;
            font-size: 11px; }
        html body .wrapper header .slider {
          min-height: 360px; }
          html body .wrapper header .slider img {
            max-width: 100%; }
        html body .wrapper header .back-bar {
          padding: 40px 30px;
          background: #111213; }
          html body .wrapper header .back-bar q {
            width: 560px;
            font: 30px Garamond;
            color: #a3a3a3;
            margin-left: 0; }
          html body .wrapper header .back-bar .social {
            margin-right: -40px; }
      html body .wrapper main {
        background-color: #fff; }
        html body .wrapper main .posts {
          padding: 0 60px 0 30px;
          background-color: #fff; }
          html body .wrapper main .posts ul.article {
            color: #303030;
            padding: 30px 0;
            -webkit-box-shadow: 0 1px 0 #fafafa, 0 2px 0 #f0f0f0;
            -moz-box-shadow: 0 1px 0 #fafafa, 0 2px 0 #f0f0f0;
            box-shadow: 0 1px 0 #fafafa, 0 2px 0 #f0f0f0; }
            html body .wrapper main .posts ul.article li {
              padding: 0 0 0 30px; }
              html body .wrapper main .posts ul.article li img {
                width: 150px;
                height: 150px;
                -webkit-box-shadow: 0 0 0 3px #e9e9e9, 0 0 0 4px #f3f3f3, 0 0 0 5px #e5e5e5;
                -moz-box-shadow: 0 0 0 3px #e9e9e9, 0 0 0 4px #f3f3f3, 0 0 0 5px #e5e5e5;
                box-shadow: 0 0 0 3px #e9e9e9, 0 0 0 4px #f3f3f3, 0 0 0 5px #e5e5e5;
                margin-right: 5px; }
              html body .wrapper main .posts ul.article li article {
                width: 400px;
                padding: 0 0 0 30px; }
                html body .wrapper main .posts ul.article li article .highlight {
                  text-decoration: underline;
                  background-color: yellow; }
                html body .wrapper main .posts ul.article li article h2 {
                  padding-left: 0; }
                html body .wrapper main .posts ul.article li article .posted {
                  color: #2c83b0;
                  font-size: 10px;
                  padding: 3px 0 15px 0; }
                html body .wrapper main .posts ul.article li article .text, html body .wrapper main .posts ul.article li article .text-added {
                  font-size: 13px;
                  line-height: 20px;
                  font-family: Georgia;
                  padding-bottom: 19px; }
                html body .wrapper main .posts ul.article li article a {
                  display: inline-block;
                  cursor: pointer; }
          html body .wrapper main .posts nav {
            padding: 40px 0;
            color: #9a9a9a;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px; }
            html body .wrapper main .posts nav span {
              background-color: #eee;
              padding: 7px 10px;
              margin: 0 4px 5px 0; }
            html body .wrapper main .posts nav a {
              background-color: #eee;
              color: #9a9a9a;
              padding: 7px 10px;
              margin: 0 4px 5px 0; }
              html body .wrapper main .posts nav a.active, html body .wrapper main .posts nav a:hover {
                background-color: #c1c1c1;
                color: #fff; }
        html body .wrapper main aside {
          background: linear-gradient(to bottom, #e7e7e7, #fff);
          padding: 0 40px 0 20px; }
          html body .wrapper main aside section {
            color: #303030;
            padding: 0 0 10px 0; }
            html body .wrapper main aside section h3 {
              font-family: Garamond;
              font-size: 25px;
              padding: 30px 0; }
            html body .wrapper main aside section p, html body .wrapper main aside section pre {
              font-size: 13px;
              font-family: Georgia;
              line-height: 20px; }
              html body .wrapper main aside section p.uppercase, html body .wrapper main aside section pre.uppercase {
                text-transform: uppercase; }
              html body .wrapper main aside section p.list, html body .wrapper main aside section pre.list {
                padding-bottom: 25px; }
            html body .wrapper main aside section a {
              font-family: Georgia;
              font-size: 13px;
              color: #2c83b0; }
              html body .wrapper main aside section a.sign {
                display: inline-block;
                margin-top: 25px; }
      html body .wrapper .sponsors-list {
        background-color: #fff;
        padding: 25px 30px; }
        html body .wrapper .sponsors-list a {
          width: 130px;
          height: 76px;
          margin-bottom: 21px;
          -webkit-box-shadow: 0 0 0 3px #f6f6f6, 0 0 0 4px #fafafa, 0 0 0 5px #f5f5f5;
          -moz-box-shadow: 0 0 0 3px #f6f6f6, 0 0 0 4px #fafafa, 0 0 0 5px #f5f5f5;
          box-shadow: 0 0 0 3px #f6f6f6, 0 0 0 4px #fafafa, 0 0 0 5px #f5f5f5; }
      html body .wrapper footer {
        background-color: #111213;
        position: relative;
        padding: 0 30px 60px 30px; }
        html body .wrapper footer::after {
          content: '';
          position: absolute;
          width: 960px;
          top: 100%;
          left: 0;
          -webkit-box-shadow: 0 0 80px 20px #000000;
          -moz-box-shadow: 0 0 80px 20px #000000;
          box-shadow: 0 0 80px 20px #000000; }
        html body .wrapper footer section h4 {
          font-size: 25px;
          font-family: Garamond;
          color: #fff;
          padding: 20px 0 15px 0;
          text-transform: capitalize; }
        html body .wrapper footer section p {
          color: #6f6e6e;
          font-size: 13px;
          line-height: 20px;
          font-family: Georgia;
          margin-right: 23px; }
          html body .wrapper footer section p.color {
            color: #a3a3a3;
            padding-bottom: 10px; }
          html body .wrapper footer section p.distance {
            padding: 20px 0; }
          html body .wrapper footer section p.email {
            padding: 0 0 30px; }
        html body .wrapper footer section .footer-stream a {
          width: 75px;
          height: 75px;
          margin: 0 7px 12px 0;
          box-shadow: 0 0 0 1px #333333; }
  @media screen and (max-width: 992px) {
    html .container {
      max-width: 100%;
      margin: 0; }
    html body .wrapper header .row .col-8, html body .wrapper header .row .col-4 {
      max-width: 100%;
      flex: 0 0 100%; }
    html body .wrapper header .slider {
      min-height: 100%; }
    html body .wrapper header nav {
      margin: 0;
      padding-left: 20px; }
    html body .wrapper footer .col-4 {
      max-width: 50%;
      flex: 0 0 50%; } }
  @media screen and (max-width: 768px) {
    html body .wrapper main .row .col-9, html body .wrapper main .row .col-3 {
      max-width: 100%;
      flex: 0 0 100%; }
    html body .wrapper main aside {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; } }
  @media screen and (max-width: 576px) {
    html body .wrapper header .row .input-wrapper input {
      padding: 0; }
    html body .wrapper header .row nav {
      margin-left: 0; }
    html body .wrapper main .row .posts ul.article li {
      padding-left: 0; }
      html body .wrapper main .row .posts ul.article li.flex-nowrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important; }
      html body .wrapper main .row .posts ul.article li article {
        padding: 10px 0 0 0; }
    html body .wrapper footer .col-4 {
      max-width: 100%;
      flex: 0 0 100%; } }
  @media screen and (max-width: 375px) {
    html body .wrapper header .back-bar {
      padding: 40px 0 40px 30px; }
    html body .wrapper header .row .col-2 {
      max-width: 50%;
      flex: 0 0 50%;
      margin-bottom: 5px; }
    html body .wrapper header .row h1 {
      padding-left: 5px; } }
