﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Brown rabbit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>
    <link rel="stylesheet" href="css/resetCSS.css" type="text/css" />
    <link rel="stylesheet" href="css/main.css" type="text/css">
</head>
<body>
    <div class="wrapper container">
        <header>
            <div class="row justify-content-end">
                <div class="input-wrapper col-2 d-flex">
                    <button class="fas fa-search icon dropdown-toggle" type="button"></button>
                    <input id="searchfor" type="text" placeholder="Search..." name="search" value="" v-model="searchField">
                </div>
            </div>
            <div class="row justify-content-between">
                <h1 class="col-auto">
                    <a href="#">
                        <img src="img/logo.jpg" class="img-fluid" />
                    </a>
                </h1>
                <nav class="col-auto align-self-end">
                    <a href="#">ABOUT NBC</a>
                    <a href="#">2011 EVENT</a>
                    <a href="#">NORDIC ROASTER</a>
                    <a href="#">RESULTS</a>
                    <a href="#">LINKS</a>
                    <a href="#">CONTACT</a>
                </nav>
            </div>
            <div id="slider" class="slider"></div>
            <div class="back-bar row justify-content-between">
                <q class="col-8">“To create an environment in which knowledge about coffee and its sphere can be obtained”</q>
                <div class="social col-4 align-self-end d-flex justify-content-start">
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                </div>
            </div>
        </header>

        <main class="container">
            <div class="row">
                    <div class="posts col-9" id="choose-article">
                        <ul class="article" v-for="item in paginateList">
                            <li class="d-flex flex-row flex-nowrap">
                                <img v-bind:src="item.img" alt="image" class="img-fluid"/>
                                <article>
                                    <h2 class="title" v-html="highlight(item.title)"></h2>
                                    <p class="posted" v-html="highlight(item.posted)"></p>
                                    <p class="text" v-show="!item.isFullText" v-html="highlight(item.text)"></p>
                                    <p class="text-added" v-show="item.isFullText" v-html="highlight(item.text_added)"></p>
                                    <button class="btn btn-info" v-on:click="readMoreLess(item)">
                                        <span v-show="!item.isFullText">
                                            Read more
                                        </span>
                                        <span v-show="item.isFullText">
                                            Read less
                                        </span>
                                    </button>
                                </article>
                            </li>
                        </ul>

                        <nav class="d-flex flex-row flex-wrap">                            
                            <span>Page {{pageIndex + 1}} of {{pagingButtons.length}}</span>
                            <a href="#" v-for="item in pagingButtons" v-on:click.stop.prevent="changePageIndex(item)">{{item + 1}}</a>
                            <a href="#" v-on:click.stop.prevent="goToLastPage()">&#8250;&#8250;</a>
                        </nav>
                    </div>
                <aside class="col-3">
                    <section>
                        <h3>NBC Shop</h3>
                        <p>Your shopping cart is empty</p>
                        <a href="#">Visit the shop</a>
                    </section>
                    <section>
                        <h3>Next Event</h3>
                        <p class="uppercase">Nordic Barista Cup 2011</p>
                        <p>Copenhagen, Denmark</p>
                        <p>Dates : 25th - 27th August 2011</p>
                        <p>Theme : SENSORY</p>
                        <a href="#" class="sign">Sign up now.</a>
                    </section>
                    <section>
                        <h3>Scoreboard</h3>
                        <p class="list">List of winners from past years</p>
                        <pre>2011  -  ?</pre>
                        <pre>2010  -  Sweden</pre>
                        <pre>2009  -  Denmark</pre>
                        <pre>2007  -  Sweden</pre>
                        <pre>2006  -  Norway</pre>
                        <pre>2005  -  Norway</pre>
                        <pre>2004  -  Denmark</pre>
                    </section>
                </aside>
            </div>
        </main>
        <h2 class="text-capitalize">Nordic Barista Cup sponsors</h2>
        <div class="sponsors-list d-flex flex-wrap align-content-between justify-content-between">
            <a href="#"><img src="img/sponsor-1.gif" alt="sponsor-1" /></a>
            <a href="#"><img src="img/sponsor-2.gif" alt="sponsor-2" /></a>
            <a href="#"><img src="img/sponsor-3.gif" alt="sponsor-3" /></a>
            <a href="#"><img src="img/sponsor-4.gif" alt="sponsor-4" /></a>
            <a href="#"><img src="img/sponsor-5.gif" alt="sponsor-5" /></a>
            <a href="#"><img src="img/sponsor-6.gif" alt="sponsor-6" /></a>
            <a href="#"><img src="img/sponsor-7.gif" alt="sponsor-7" /></a>
            <a href="#"><img src="img/sponsor-8.gif" alt="sponsor-8" /></a>
            <a href="#"><img src="img/sponsor-9.gif" alt="sponsor-9" /></a>
            <a href="#"><img src="img/sponsor-10.gif" alt="sponsor-10" /></a>
            <a href="#"><img src="img/sponsor-11.gif" alt="sponsor-11" /></a>
            <a href="#"><img src="img/sponsor-12.gif" alt="sponsor-12" /></a>
            <a href="#"><img src="img/sponsor-13.gif" alt="sponsor-13" /></a>
            <a href="#"><img src="img/sponsor-14.gif" alt="sponsor-14" /></a>
            <a href="#"><img src="img/sponsor-15.gif" alt="sponsor-15" /></a>
            <a href="#"><img src="img/sponsor-16.gif" alt="sponsor-16" /></a>
            <a href="#"><img src="img/sponsor-17.gif" alt="sponsor-17" /></a>
            <a href="#"><img src="img/sponsor-18.gif" alt="sponsor-18" /></a>
            <a href="#"><img src="img/sponsor-19.gif" alt="sponsor-19" /></a>
            <a href="#"><img src="img/sponsor-20.gif" alt="sponsor-20" /></a>
            <a href="#"><img src="img/sponsor-21.gif" alt="sponsor-21" /></a>
            <a href="#"><img src="img/sponsor-22.gif" alt="sponsor-22" /></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <footer class="row  justify-content-between">
            <section class="col-4">
                <h4 class="text-capitalize">About Nordic Barista Cup</h4>
                <p>The vision within the Nordic Barista Cup is:</p>
                <p class="color distance">“To create an environment in which knowledge about coffee and its sphere can be obtained”</p>
                <p>’...create an environment…’</p>
                <p>Combined with personally absorption having the opportunity to see and experience countries, people, traditions etc. will always serve as a source of inspiration in our daily work.</p>
                <p>The organization behind the Nordic Barista Cup see it as its main purpose to be a part of creating this forum in which people can meet, bond and achieve further knowledge.</p>
            </section>
            <section class="col-4">
                <h4 class="text-capitalize">NBC Flickr Stream</h4>
                <div class="footer-stream d-flex flex-wrap ">
                    <a href="#"><img src="img/footer-stream-1.jpg" alt="footer-stream-1" /></a>
                    <a href="#"><img src="img/footer-stream-2.jpg" alt="footer-stream-2" /></a>
                    <a href="#"><img src="img/footer-stream-3.jpg" alt="footer-stream-3" /></a>
                    <a href="#"><img src="img/footer-stream-4.jpg" alt="footer-stream-4" /></a>
                    <a href="#"><img src="img/footer-stream-5.jpg" alt="footer-stream-5" /></a>
                    <a href="#"><img src="img/footer-stream-6.jpg" alt="footer-stream-6" /></a>
                    <a href="#"><img src="img/footer-stream-7.jpg" alt="footer-stream-7" /></a>
                    <a href="#"><img src="img/footer-stream-8.jpg" alt="footer-stream-8" /></a>
                    <a href="#"><img src="img/footer-stream-9.jpg" alt="footer-stream-9" /></a>
                </div>
            </section>
            <section class="col-4">
                <h4 class="text-capitalize">Contact</h4>
                <p class="color">Nordic Barista Cup</p>
                <p>Amagertorv 13</p>
                <p>1160 Copenhagen K</p>
                <p>+45 33 12 04 28</p>
                <p>CVR: 11427693</p>
                <p class="email">Email: bbrend@nordicbaristacup.com</p>
                <div class="social d-flex justify-content-start">
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                </div>
            </section>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/aticles.js" type="text/javascript"></script>
    <script src="js/scripts.js" type="text/javascript"></script>
</body>
</html>